[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "pyrefact"
version = "48"
description = "Automated Python refactoring"
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
    {email = "olle.ln@outlook.com"},
    {name = "Olle Lindgren"}
]
classifiers = ["Programming Language :: Python :: 3"]
dependencies = [
    "black>=22.1.0",
    "isort==5.10.1",
    "rmspace==6",
    "sympy==1.11.1",
    'astunparse==1.6.3; python_version<"3.9"'
]

[project.urls]
repository="https://github.com/OlleLindgren/pyrefact"
